.tankContainer {
    position: relative;
}
.tank {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 40px;
    top: 100px;
    left: 100px;
    background: grey;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    transform: rotate(-45deg);
}
.towerCannon {
    position: absolute;
    box-sizing: border-box;
    width: 60px;
    height: 6px;
    background: black;
    background-clip: content-box;
    border-left: 30px solid transparent;
    border-right: 10px solid transparent;
    transform: rotate(-135deg);
}
.tankTower {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: red;
}
.loadingBar {
    width: 60px;
    height: 20px;
    box-sizing: border-box;
    background: white;
    outline: 1px solid black;
    border-left: 0.01px solid green;
}